## Сисетма поступления в ВУЗ
### Функциональные требования
#### Общие требования
Регистрация
Авторизация/аутентификация пользователя.
Управление пользователями (CRUD).
Система ролей.
Журналирование  действий пользователя.\

#### Поступающий
1. Авторизация и регистрация
2. Просмотр своих достижений, штрафов, предметов, факультетов и специальностей 
3. Изменение, удаление профиля
4. Добавление данных поступающего
5. Подача заявки на специальность
6. Просмотр конкурса
7. Просмотр результата зачисления

#### Работник ВУЗА
1. Авторизация(регистрация по умолчанию должен быть в системе)
2. CRUD специальностей и факультетов

#### Админ
1. Авторизация(регистрация по умолчанию должен быть в системе)
2. CRUD всех сущностей

